.flex-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 25px;
}

.input-search-container {
  width: 100%;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
}

.input-search {
  width: 75%;
}

.form-field-large {
  width: 40%;
}
.form-field {
  width: 250px;
}

.example-card {
  max-width: 300px;
  margin-bottom: 8px;
}

.superhero-card {
  width: 250px;
  margin: 16px;
}

.superhero-avatar {
  background-color: #ccc;
}

.superhero-avatar,
mat-card-avatar,
mat-card-header {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

mat-card-image {
  height: 200px;
  object-fit: cover;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-size {
  width: 70%;
  height: 70%;
  margin: 25px;
}

.image-publisher-size {
  width: 40px;
  height: 40px;
}

.btn-edit {
  margin: 15px;
}
