<app-loader [isLoading]="loading"></app-loader>

<form [formGroup]="superheroForm">
  <section class="container">
    <section class="row-input">
      <div fxFlex="70%" class="tittle-edit">
        <h1 class="center">
          {{ tittle }} @if(isEdition){
          <b class="tittle-edit"
            >&nbsp;
            {{ superheroForm.controls["superhero"].value | uppercase }}</b
          >
          }
        </h1>
      </div>
      <div fxFlex="70%" class="row-inputs-edit">
        <mat-form-field class="form-field">
          <mat-label>{{ superHeroName }}</mat-label>
          <input matInput formControlName="superhero" />
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>{{ alterEgo }}</mat-label>
          <input matInput formControlName="alterEgo" />
        </mat-form-field>
      </div>
      <div fxFlex="50%">
        <mat-form-field class="form-field">
          <mat-label>{{ character }}*</mat-label>
          <input matInput formControlName="characters" />
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>{{ firstApparearance }}</mat-label>
          <input matInput formControlName="firstAppearance" />
        </mat-form-field>
      </div>

      <div fxFlex="50%">
        <mat-form-field class="form-field">
          <mat-label>Selecciona un editor</mat-label>
          <mat-select formControlName="publisher" value="publisher">
            <mat-option value="DC Comics">DC Comics</mat-option>
            <mat-option value="Marvel Comic">Marvel Comic</mat-option>
            <!-- Agrega más opciones según tus necesidades -->
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Primera aparicion</mat-label>
          <input matInput formControlName="firstAppearance" />
        </mat-form-field>
      </div>

      <div fxFlex="100%">
        <div class="file-input-container">
          <label for="fileInput" class="file-input-label">
            <span class="file-input-text">{{ selectFile }}</span>
            <input
              id="fileInput"
              class="file-input"
              type="file"
              (change)="onFileSelected($event)"
            />
          </label>
        </div>
        <span class="file-name">{{ fileSelected }}{{ myFile.name }}</span>
      </div>
    </section>

    <section class="row-image">
      <img
        mat-card-image
        [src]="'assets/images/' + selectedHero?.id + '.jpg'"
        alt="Imagen del Superhéroe"
        class="image-size"
      />

      <div fxFlex="70%" class="btn-container">
        <button
          mat-flat-button
          color="primary"
          (click)="saveHeroDetail()"
          superheroForm
          [disabled]="!superheroForm.valid || !superheroForm.touched"
        >
          @if (isEdition){ {{ updateBtn }} } @else { {{ SaveBtn }} }
        </button>
        @if (isEdition){
        <button
          mat-flat-button
          color="primary"
          (click)="deleteHeroDetail()"
          superheroForm
        >
          Borrar
        </button>
        }
      </div>
    </section>
  </section>
</form>
